<head>
</head>
<body>
  <div ng-controller="ModalCtrl as modal">
    <button class="new-room" ng-click="modal.open()">
      <h4>New Room</h4>
    </button>
  </div>
  </br>
  </br>
  <div class="room-list" ng-repeat="roomObj in room.rooms">
    <p ng-click="room.activeRoom(roomObj)">
      {{ roomObj.name }}
    </p>
  </div>
  <div class="room-container">
    <div class="room-title">
      <h2>
        {{ room.currentRoomName }}
      </h2>
    <div class="message-display">
    <table>
      <tr ng-repeat="roomMessages in room.activeRoom">
        <td> {{ roomMessages.username }} </td>
        <td> {{ roomMessages.content }} </td>
        <td> {{ roomMessages.sentAt }} </td>
      </tr>
    </table>
  </div>
</body>
