<head>
</head>
<body>
  <div ng-controller="ModalCtrl as modal">
    <button class="new-room" ng-click="modal.open()">
      <h4>New Room</h4>
    </button>
  </div>
  </br>
  </br>
  <div class="room-list" ng-repeat="roomObj in room.rooms">
    <p ng-click="room.activeRoom(roomObj)">
      {{ roomObj.name }}
    </p>
  </div>
  <div class="room-container">
    <div class="room-title">
      <h2>
        {{ room.currentRoomName }}
      </h2>
    </div>
    </br>
    <div class="message-display">
    <table class="message-table">
      <tr ng-repeat="roomMessage in room.roomMessages track by $index">
        <td> {{ roomMessage.username }} </td>
      </br>
        <td> {{ roomMessage.content }} </td>
      </br>
        <td> {{ roomMessage.sentAt }} </td>
      </tr>
    </table>
    </div>
    <div class="message-send">
        <input type="text" placeholder="Type Your Message Here..." class="message-content" ng-model="room.message">
        <button class="send" ng-click="room.createMessage(room.message, room.activeRoom.roomId)">
          <h4>Send</h4>
        </button>
    </div>
  </div>
</body>
